<header class="header-2">
  <div class="branding">
    <!-- <img href="#page-top" src="../../assets/images/logo.png" /> -->
  </div>
  <div class="header-nav">
    <a href="#team" class="activate nav-link nav-text">Team</a>
    <a href="#forum" class="activate nav-link nav-text">Forum</a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="cog"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="..." clrDropdownItem>Register</a>
        <a href="..." clrDropdownItem>Log in</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
